/*                */
/* Side Bar stuff */
/*                */
.sidebar-drop li div a:not([href]) {
    padding: 5px;
    padding-left: 9px;
    font-size: 1.1em;
    flex: 1;
    color: var(--main-font-color)
}

.sidebar-drop li div a:not([href]):hover {
    background-color: var(--bars-highlight-color);
    color: var(--main-font-color);
    text-decoration: none;
}

.sidebar-drop li div {
    display: flex;
}

.hide {
    display: none;
}

.sub-f-list {
    padding-left: 20px;
}

#sidebar {
    width:250px;
    min-height: 100vh;
    transition: all 0.3s;
    color: var(--bars-bg-color);
}

#sidebar.toggled {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.toggled {
        margin-left: 0px;
   
    }
}

.sidebar-toggler {
    max-width: 100px;
    min-width : 100px;
    min-height: 50px;
    max-height: 50px;
    margin : 20px;
}

.file-link {
    color: var(--main-font-color);
    display: block;
    font-size: 1.1em;
    padding: 5px;
}

.file-link:hover {
    color: var(--main-font-color);
    background-color: var(--bars-highlight-color);
    text-decoration: none;
}

.add-button {
    float: right;
    color: var(--bars-bg-color);
    align-self: stretch;
    background-color: var(--bars-bg-color);
    border: 0px;
    padding-right: 5px;
    font-weight: bold;
}

.add-button:focus {
    outline: none;
}

.add-button:hover {
    background-color: var(--bars-highlight-color);
    color: var(--main-font-color);
}