:root {
    --bars-bg-color: #0f1626;
    --bars-bg-color-light: #265ad4ef;
    --bars-bg-color-light-grad: #093cb4da;
    --bars-highlight-color: #ffffff1c;
    --main-font-color: white;
}

.navbar {
    background-color: var(--bars-bg-color) !important;
}

.navbar-brand {
    font-family: "Palatino";
}

#sidebar ul{
    background-color: var(--bars-bg-color) !important;
}

#cur_dir {
    background-image: linear-gradient(to right, var(--bars-bg-color-light), var(--bars-bg-color-light-grad));
    padding: 3px;
    padding-left: 10px;
    color: white;
    border-right-color: var(--bars-bg-color);
}

.wrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.main-content {
    flex : 1;
}

#sidebarCollapse {
    padding: 10px;
    display: inline-block;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* .vertical-collapse {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    max-height: 0;
} */

/*                */
/* Side Bar stuff */
/*                */
.sidebar-drop li a {
    padding: 5px;
    padding-left: 9px;
    font-size: 1.1em;
    display: block;
}

.collapse li{
    padding-left:20px
}

.collapsing li{
    padding-left:20px
}

.dropdown-toggle {
    color: var(--main-font-color);
    border-radius: 10px 0px 0px 10px;
}

.dropdown-toggle:hover {
    background-color: var(--bars-highlight-color);
    color: var(--main-font-color);
    text-decoration: none;
}

#sidebar {
    width:250px;
    min-height: 100vh;
    transition: all 0.3s;
    color: var(--bars-bg-color);
}

#sidebar.toggled {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.toggled {
        margin-left: 0px;
   
    }
}

.sidebar-toggler {
    max-width: 100px;
    min-width : 100px;
    min-height: 50px;
    max-height: 50px;
    margin : 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #afc5fa;
}