body {
    font-family: 'Roboto', Gadget, sans-serif; 
}

:root {
    --bars-bg-color: #0f1626;
    --bars-bg-color-light: #265ad4ef;
    --bars-bg-color-light-grad: #093cb4da;
    --bars-highlight-color: #0952fc33;
    --main-font-color: white;
    --accent-color: #e66e1f;
}

.navbar {
    background-color: var(--bars-bg-color) !important;
}

.navbar-brand {
    font-family: 'Arial';
}

#sidebar ul{
    background-color: var(--bars-bg-color) !important;
}

#cur_dir {
    background-image: linear-gradient(to right, var(--bars-bg-color-light), var(--bars-bg-color-light-grad));
    padding: 3px;
    padding-left: 10px;
    color: white;
    border-right-color: var(--bars-bg-color);
}

.wrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.main-content {
    flex : 1;
}

#sidebarCollapse {
    padding: 10px;
    display: inline-block;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* .vertical-collapse {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    max-height: 0;
} */

.navbar-dark .navbar-nav .nav-link {
    color: #afc5fa;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: white;
}

input.search-bar {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/* -moz-box-shadow: 2px 2px 3px #666; */
	/* -webkit-box-shadow: 2px 2px 3px #666; */
	/* box-shadow: 2px 2px 3px #666; */
	font-size: 20px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}

input.search-bar:hover {
    border-color: var(--accent-color);
    border-width: 2px;
}

input.search-bar:focus {
    border-color: var(--accent-color);
    border-width: 2px;
}

/* .search-button {
    border: none;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.search-button:active {
	position:relative;
	top:1px;
} */

.search-button {
    margin-left:5px;
	background-color:#c7a245;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.sear-button:hover {
	background-color:#bd982a;
}
.search-button:active {
	position:relative;
	top:1px;
}