<!DOCTYPE html>
<html lang="en" style="height:100%">
    <head>
        <title>Cloud Drive</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}?{% now 'U' %}">

    </head>
    <body style="height: 100%">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Cloud Control</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-item nav-link">Recent</a>
                    <a class="nav-item nav-link">Trash</a>
                </div>
            </div>
        </nav>

        <!-- Below Navbar -->
        <div class="wrapper">
            <!-- Side Bar -->
            <div id="sidebar">
                <ul id="drop_1" class="sidebar-drop list-unstyled bg-dark border-right h-100">
                    <!-- <li>
                        <a class="dropdown-toggle" href="#f1_sub">Folder1</a>
                        <ul class="vertical-collapse list-unstyled" id="f1_sub">
                            <li><a href="#">File1</a></li>
                            <li><a href="#">File2</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>




            <!-- Main Content-->
            <div class="main-content">
                <div id="sidebarCollapse">
                        {% load static %}
                        <img src='{% static "baseline-menu-24px.svg" %}' alt="My image">
                </div>
                <div class="search-bar-container">
                    <div class="input-group w-50" style="padding-right: 0%">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" style="margin-right: 0%">
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                
                
                var fid = 1;
                var parent_id = 0;
                create_sub_folder_html(fid);

                function create_sub_folder_html(fid) {
                    $.ajax({url: "get_sub_dir", 
                        type:'GET', 
                        data: {id: fid}, 
                        success: function(d) {
                            var data = JSON.parse(d);
                            var folders = data["folders"];
                            console.log(folders);
                            for(i = 0; i < data["folders"].length; i++) {
                                var sub_folder_html = '<li><a class="dropdown-toggle" href="#drop_' + folders[i][0] + 
                                    '" data-toggle="collapse">' + folders[i][1] + '</a><ul class="vertical list-unstyled" id="drop_' + 
                                    folders[i][0] + '"></ul></li>';
                        

                                var sub_folder_elem = $(sub_folder_html);
                                sub_folder_elem.children().first().one("click", {fid: folders[i][0]}, function(event) { create_sub_folder_html(event.data.fid); });
                                // sub_folder_elem.children().first().on("click", {fid: folders[i][0]}, function(event) { 
                                //     drop_height(event.data.fid);
                                // });          
                                $("#drop_" + fid).append(sub_folder_elem);
                            }
                            // drop_height(fid);
                        }   
                    });
                }

                // function drop_height(id) {
                //     var elem = document.getElementById("drop_" + id);
                //      if(!elem.style.maxHeight || elem.style.maxHeight == "0px") {
                //         elem.style.maxHeight = elem.scrollHeight + "px";
                //     } else {
                //         elem.style.maxHeight = null;
                //     }
                //     console.log(elem.style.maxHeight);
                // }

                $("#sidebarCollapse").on('click', function() {
                    $("#sidebar").toggleClass("toggled");
                });
            });



        </script>
    </body>
</html>