<!DOCTYPE html>
<html lang="en" style="height:100%">
    <head>
        <title>Cloud Drive</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Cutive' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}?{% now 'U' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'sidebar_style.css' %}?{% now 'U' %}">


    </head>
    <body style="height: 100%">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><h3><strong>Cloud Control</strong></h3></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-item nav-link">Recent</a>
                    <a class="nav-item nav-link">Trash</a>
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#upload_file_modal" onclick="upload_button_onclick(1)" style="margin-left: 1rem">Upload</button>
                </div>
            </div>
        </nav>

        <!-- Below Navbar -->
        <div class="wrapper">
            <!-- Side Bar -->
            <div id="sidebar">
                
                <ul id="drop_1" class="sidebar-drop bg-dark list-unstyled border-right h-100">
                    <div id="cur_dir"><strong>/{{ base_folder_path }}</strong></div>
                    <!-- Example Element that would populate this: -->

                    <!-- <li>
                        <div><a class="dropdown-toggle" href="#f1_sub">Folder1</a><button>+</button></div>
                        <ul class="vertical-collapse list-unstyled" id="f1_sub">
                            <li><a href="#">File1</a></li>
                            <li><a href="#">File2</a></li>
                        </ul>
                    </li> -->

                </ul>
            </div>


            <!-- Main Content-->
            <div class="main-content">
                <div id="sidebarCollapse">
                        {% load static %}
                        <img src='{% static "baseline-menu-24px.svg" %}' alt="My image">
                </div>
                <div class="search-bar-container">
                    <input class= "search-bar w-50" type="text" placeholder="Search"/>
                    <button class= "search-button">Search</button>
                </div>
            </div>
        </div>
        
        <!-- Add Folder Modal -->
        <div class="modal fade" id="add_folder_modal" tabindex="-1" role="dialog" aria-labelledby="addFolderModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Folder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form method="post" id="add_folder_form" action="{% url 'add_folder' %}">
                        {% csrf_token %}

                        {{ folder_form }}

                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" value="Submit" form="add_folder_form" class="btn btn-primary">Submit</button>
                </div>
            </div>
            </div>
        </div>

        <!-- Upload File Modal -->
        <div class="modal fade" id="upload_file_modal" tabindex="-1" role="dialog" aria-labelledby="uploadFileModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Folder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form method="post" id="upload_file_form" action="{% url 'upload_file' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{ file_form }}

                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" value="Submit" form="upload_file_form" class="btn btn-primary">Submit</button>
                </div>
            </div>
            </div>
        </div>

        

        <script>
            function plus_button_onclick(fid) {
                console.log("plus_button_onclick");
                $('#id_folder_parent_id').val(fid);
            }

            function upload_button_onclick(fid) {
                console.log("upload_button_onclick");
                $('#id_file_parent_id').val(fid);
            }

            function toggle_drop(elem) {
                $(elem.getAttribute('data-link')).toggleClass("hide");
            }

            $(document).ready(function () {
                
                
                var fid = 1;
                var parent_id = 0;
                create_sub_folder_html(fid);

                function create_sub_folder_html(fid) {
                    $.ajax({url: "get_sub_dir", 
                        type:'GET', 
                        data: {id: fid}, 
                        success: function(d) {
                            var data = JSON.parse(d);
                            var folders = data["folders"];
                            var files = data["files"];
                            console.log(folders);
                            for(i = 0; i < data["folders"].length; i++) {
                                var plus_button_html = '<button class="add-button" data-toggle="modal" data-target="#add_folder_modal" value="' + 
                                folders[i][0] + '" onclick="plus_button_onclick(this.value)">+</button>';
                                // var plus_button_elem = $(plus_button_html);


                                var sub_folder_html = '<li><div><a class="dropdown-toggle" data-link="#drop_' + folders[i][0] + 
                                    '" data-toggle="#" role= "button" onclick="toggle_drop(this)">' + folders[i][1] + '</a>' + plus_button_html + 
                                    '</div><ul class="sub-f-list vertical list-unstyled hide" id="drop_' + 
                                    folders[i][0] + '"></ul></li>';

                                var sub_folder_elem = $(sub_folder_html);
                                var link_div = sub_folder_elem.children(":first");
                                
                                link_div.children(":first").one("click", {fid: folders[i][0]}, function(event) { create_sub_folder_html(event.data.fid); });
                                // link_div.children(":nth-child(2)").on("click", {fid: folders[i][0]}, function(event) { create_fname_input(event.data.fid); });
                              
                                $("#drop_" + fid).append(sub_folder_elem);
                            }

                            for(i = 0; i < data["files"].length; i++) {
                                var file_elem = $('<li><a class="file-link" href=#>' + files[i][1] + '</a></li>');
                                $("#drop_" + fid).append(file_elem);
                            }
                        }   
                    });

                }

                // function create_fname_input(fid) {
                //     var fname_input_html = '<li><input type="text" autofocus></li>'
                //     fname_input_elem = $(fname_input_html);
                //     fname_input_elem.focusout(function() {
                //         fname_input_elem.remove();
                //     });
                //     $("#drop_" + fid).append(fname_input_elem);
                // }

                $("#sidebarCollapse").on('click', function() {
                    $("#sidebar").toggleClass("toggled");
                });
            });



        </script>
    </body>
</html>