<div id="sidebar">
    <ul id="drop_1" class="list-unstyled bg-light border-right h-100">
        <!-- <li>
            <a class="dropdown-toggle" href="#f1_sub">Folder1</a>
            <ul class="vertical-collapse list-unstyled" id="f1_sub">
                <li><a href="#">File1</a></li>
                <li><a href="#">File2</a></li>
            </ul>
        </li> -->
    </ul>
</div>

<button id="sidebarCollapse" class="btn btn-info" type="button">Hi</button>

<script>
    $(document).ready(function () {
        
        
        var fid = 1;
        var parent_id = 0;
        create_sub_folder_html(fid);

        function create_sub_folder_html(fid) {
            $.ajax({url: "get_sub_dir", 
                type:'GET', 
                data: {id: fid}, 
                success: function(d) {
                    var data = JSON.parse(d);
                    var folders = data["folders"];
                    console.log(folders);
                    for(i = 0; i < data["folders"].length; i++) {
                        var sub_folder_html = '<li><a class="dropdown-toggle" href="#drop_' + folders[i][0] + 
                            '" data-toggle="collapse">' + folders[i][1] + '</a><ul class="vertical list-unstyled" id="drop_' + 
                            folders[i][0] + '"></ul></li>';
                

                        var sub_folder_elem = $(sub_folder_html);
                        sub_folder_elem.children().first().one("click", {fid: folders[i][0]}, function(event) { create_sub_folder_html(event.data.fid); });
                        // sub_folder_elem.children().first().on("click", {fid: folders[i][0]}, function(event) { 
                        //     drop_height(event.data.fid);
                        // });          
                        $("#drop_" + fid).append(sub_folder_elem);
                    }
                    // drop_height(fid);
                }   
            });
        }

        // function drop_height(id) {
        //     var elem = document.getElementById("drop_" + id);
        //      if(!elem.style.maxHeight || elem.style.maxHeight == "0px") {
        //         elem.style.maxHeight = elem.scrollHeight + "px";
        //     } else {
        //         elem.style.maxHeight = null;
        //     }
        //     console.log(elem.style.maxHeight);
        // }

        $("#sidebarCollapse").on('click', function() {
            $("#sidebar").toggleClass("toggled");
        });
    });



</script>